# ------------------------------
# Dependencies
# ------------------------------
node_modules/

# ------------------------------
# Build output
# ------------------------------
dist/
build/
out/
.next/
coverage/

# ------------------------------
# Environment variables
# ------------------------------
.env
.env.*
!.env.example

# ------------------------------
# IDE / Editors
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# TypeScript
# ------------------------------
*.tsbuildinfo
